<div class="col-md-4 offset-4 card mt-4">
    <div class="card-body">
            <form action="" #form="ngForm" (ngSubmit)="submit(form)">
            <h1 class="display-3">login</h1>
            <div class="form-group">
                <label for="username">user name</label>
                <input 
                ngModel  #username="ngModel" (change)="checkngmodeldetail(username)"
                minlength="3" pattern="[a-z]*"
                 type="text " name="username" placeholder="username" class="form-control" required>

                 <!-- <p *ngIf='username.invalid && username.touched' class="text-danger alert alert-danger m-2">username is required</p> -->
            
                </div>
                <div *ngIf="username.invalid && username.touched"
                        class="text-danger alert alert-danger m-2">
                    <p *ngIf="username.errors.required">username is required</p>
                    <p *ngIf="username.errors.minlength">username should be min 3 char</p>
                    <!-- <p *ngIf="username.errors.pattern">username is not match</p> -->
                    </div>
            <div class="form-group">
                <label for="password">password</label>
                <input ngModel
                 #password="ngModel"
                  (change)="check(password)"
                   type="password" name="password" placeholder="password" class="form-control" required>
            
               <p *ngIf="password.invalid && password.touched">password is required</p>
                
            </div>
            <div class="form-group">
                <button  class="btn btn-success float-right"
                [disabled]='!form.valid'>Submit</button>
            </div>
        </form>
    </div>
</div>