<app-header></app-header>
<!-- <div class="container">
  <app-register></app-register>
  <app-users></app-users>
</div>
<app-languages></app-languages> -->
<!-- <div class="container">
  <router-outlet></router-outlet>

  directives to glue b/w Module and root component
</div>
<app-users></app-users> -->

<div class="container">
  <router-outlet></router-outlet>
  <!-- <app-home></app-home> -->

  <!-- <app-login></app-login> -->
</div>

<!-- <div color>
  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Unde, mollitia!
</div> -->